@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  #about-section, #services-section, #footer-section {
    @apply my-0 mx-6 lg:mx-28 xl:mx-36 2xl:mx-44;
  }
  
  .card-container::-webkit-scrollbar {
    width: 0;
  }

  /* Typography */

  h1 {
    @apply font-ubuntu font-bold text-lg text-center lg:text-4xl;
  }

  h2 {
    @apply font-ubuntu font-bold text-base lg:text-2xl;
  }

  .btn-text {
    @apply font-ubuntu font-medium text-base lg:text-2xl;
  }

  .paragraph {
    @apply font-nunito font-medium text-sm lg:text-lg;
  }

  .footer-link {
    @apply font-ubuntu font-medium text-sm lg:text-lg;
  }

  .reviewer-name {
    @apply font-ubuntu font-bold text-sm lg:text-base;
  }

  .table-header {
    @apply font-ubuntu font-bold text-xs lg:text-base;
  }

  .table-body {
    @apply font-nunito font-normal text-xs lg:text-base;
  }

  .home-address {
    @apply font-nunito font-medium text-xs lg:text-lg;
  }

  .feedback {
    @apply font-nunito font-medium text-1sm lg:text-sm;
  }

  .reviewed-date {
    @apply font-nunito font-medium text-2sm lg:text-1sm;
  }

  #about-img {
    @apply relative -top-40 right-0 h-3/4 w-3/4 lg:h-full lg:w-full lg:right-12;
  }

  #services-img {
    @apply relative -top-12 right-0 h-3/4 w-full lg:-top-4 xl:h-full xl:w-full xl:-top-12;
  }
}

@layer components {
  .navlinks {
    @apply btn-text;

    &:hover {
      @apply text-white font-bold border-b-0 border-r-white border-r-8 md:text-primary border-b-primary md:border-b-8 md:border-r-0;
    }
  }

  .section-container {
    @apply flex basis-1/2 gap-40 lg:grid grid-cols-2 lg:gap-28 place-items-center text-justify md:gap-20 h-screen;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}